version: '3.4'

services:

  test:
    build: .
    platform: linux/amd64
    depends_on:
      - mysql57-src-1
      - mysql57-src-invalid-gtid
      - mysql80-src-2
      - mysql80-src-3
      - mysql80-src-4
      - mysql80-dst-1
      - mysql80-dst-2
      - mysql80-dst-3
    volumes:
      - .:/app


  mysql57-src-1:
    image: mysql:5.7
    platform: linux/amd64
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=1
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON
      - --log-bin=binlog
      - --binlog-format=ROW

  mysql57-src-invalid-gtid:
    image: mysql:5.7
    platform: linux/amd64
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=1
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON

  mysql80-src-2:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=1
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON
      - --log-bin=binlog
      - --binlog-format=ROW

  mysql80-src-3:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=1
      - --gtid-mode=OFF
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON
      - --log-bin=binlog
      - --binlog-format=ROW

  mysql80-src-4:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=1
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON
      - --log-bin=binlog
      - --binlog-format=ROW
      - --ssl=OFF

  mysql80-dst-1:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=2
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON
      - --log-bin=binlog
      - --binlog-format=ROW

  mysql80-dst-2:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=2
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON
      - --log-bin=binlog
      - --binlog-format=ROW

  mysql80-dst-3:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    command:
      - --server-id=2
      - --gtid-mode=ON
      - --enforce-gtid-consistency=ON
      - --master-info-repository=TABLE
      - --relay-log-info-repository=TABLE
      - --binlog-checksum=NONE
      - --log-slave-updates=ON
      - --log-bin=binlog
      - --binlog-format=ROW
